<ion-view title="Alerte Animal {{AlertCtrl.alert.pet.name}}" id="alert">
  <ion-nav-buttons side="right" data-ng-if="AlertCtrl.userId === AlertCtrl.alert.userId">
    <button class="button" ui-sref="nav.updateAlert({alertId : AlertCtrl.alert._id})">
      <i class="ion-edit"></i>
    </button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div class="text-center" data-ng-if="AlertCtrl.loading">
      <ion-spinner icon="lines"></ion-spinner>
    </div>
    <div class="list card" data-ng-if="!AlertCtrl.loading">
      <div class="item item-body">
        <img class="full-image" data-ng-src="{{AlertCtrl.alert.photo}}">
        <p>
          <strong>Nom :</strong>
          <span data-ng-bind="AlertCtrl.alert.pet.name"></span>
        </p>
        <p>
          <strong>Etat :</strong>
          <span data-ng-bind="AlertCtrl.alert.state"></span>
        </p>
        <p>
          <strong>Date :</strong>
          <span data-ng-bind="AlertCtrl.alert.date | date:'dd/MM/yyyy'"></span>
        </p>
        <p>
          <strong>Type :</strong>
          <img data-ng-if="AlertCtrl.alert.pet.species.image"
               ng-src="{{AlertCtrl.alert.pet.species.image}}" width="30" height="30"/>
          <span data-ng-if="!AlertCtrl.alert.pet.species.image" data-ng-bind="AlertCtrl.alert.pet.species.name"></span>
        </p>

        <p>
          <strong>Race :</strong>
          <span data-ng-bind="AlertCtrl.alert.pet.breed.name"></span>
        </p>
        <p>
          <strong>Color :</strong>
          <span data-ng-bind="AlertCtrl.alert.pet.color"></span>
        </p>

        <button id="found-button1" class="button button-balanced  button-block" ui-sref="nav.accountContact({userIdFound : AlertCtrl.alert.pet.userId})">Je l'ai trouvé !</button>
      </div>
    </div>
  </ion-content>
</ion-view>
