<ion-view title="Alert Pet {{AlertCtrl.alert.pet.name}}" id="alert">
  <ion-content padding="true" class="has-header">
    <div class="list card">
      <div class="item item-avatar">
        <i class="ion-android-warning">{{AlertCtrl.alert.state}} </i>
        <h2>{{AlertCtrl.alert.pet.name}}</h2>
        <p>{{AlertCtrl.alert.date}}</p>
      </div>

      <div class="item item-body">
        <img class="full-image" data-ng-src="{{AlertCtrl.alert.photo}}">
        <p>
          {{AlertCtrl.alert.comment}}
        </p>
        <div data-ng-repeat="(key, value) in AlertCtrl.alert.pet.details">
          <p data-ng-if="value">{{key}}: {{value}}</p>
        </div>
       <!-- <p>
          Vaccins:
        </p>
        <div data-ng-repeat="(key, value) in AlertCtrl.alert.pet.vaccins">
          <p data-ng-if="value">{{key}}: {{value}}</p>
        </div>-->
      </div>
      <button id="found-button1" class="button button-balanced  button-block">I've Found it</button>
    </div>
  </ion-content>
</ion-view>
