<ion-view title="Alerte Animal {{AlertCtrl.alert.pet.name}}" id="alert">
  <ion-nav-buttons side="right">
    <button class="button" ui-sref="nav.updateAlert({alertId : AlertCtrl.alert._id})">
      <i class="ion-edit"></i>
    </button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">

    <div class="text-center" data-ng-if="AlertCtrl.loading">
      <ion-spinner icon="lines"></ion-spinner>
    </div>
    <div class="list card" data-ng-if="!AlertCtrl.loading">
      <div class="item item-avatar">
        <i class="ion-android-warning">{{AlertCtrl.alert.state}} </i>
        <h2 data-ng-bind="AlertCtrl.alert.pet.name"></h2>
        <p data-ng-bind="AlertCtrl.alert.date | date:'dd/MM/yyyy'"></p>
      </div>

   <!--    <div class="item item-avatar">
        <h1 data-ng-bind="AlertCtrl.alert.pet.name"></h1>
      </div> -->
      <div class="item item-body">
        <h1 class="ion-android-warning">{{AlertCtrl.alert.state}} </h1>
        <h1 data-ng-bind="AlertCtrl.alert.pet.name"></h1>
        <img class="full-image" data-ng-src="{{AlertCtrl.alert.photo}}">
        <p data-ng-bind="AlertCtrl.alert.date | date"></p>
        <p>Type:
          <span data-ng-bind="AlertCtrl.alert.pet.species.name"></span>
        </p>
        <p>Race:
          <span data-ng-bind="AlertCtrl.alert.pet.breed.name"></span>
        </p>
        <p>Color:
          <span data-ng-bind="AlertCtrl.alert.pet.color"></span>
        </p>

        <button id="found-button1" class="button button-balanced  button-block">Je l'ai trouvé !</button>
      </div>
    </div>
  </ion-content>
</ion-view>
