<ion-view title="Créer une alerte" id="tab-update-alert">
  <ion-content pupdateing="true" class="has-header">


    <form id="ajouter-form1" class="list">
      <button data-ng-if="! UpdateAlertCtrl.pet.photo" class="button button-block button-calm"
              data-ng-click="UpdateAlertCtrl.takePhoto()">
        <i class="ion-ios-camera"></i> Ajouter une photo
      </button>
      <label class="item item-input" data-ng-if="UpdateAlertCtrl.pet.photo"
             data-ng-click="UpdateAlertCtrl.takePhoto();">
        <img data-ng-src="{{UpdateAlertCtrl.pet.photo}}" width="50%" height="auto"
             style="display: block; margin-left: auto; margin-right: auto;" data-ng-click="UpdateAlertCtrl.takePhoto();">
      </label>
      <ion-spinner data-ng-if="UpdateAlertCtrl.loaders.species || UpdateAlertCtrl.loaders.breeds"></ion-spinner>

      <label class="item item-input item-select" data-ng-show="! UpdateAlertCtrl.loaders.species">
        <div class="input-label">Espèce</div>
        <select data-ng-model="UpdateAlertCtrl.pet.species" data-ng-change="UpdateAlertCtrl.getBreeds()">
          <option data-ng-repeat="species in UpdateAlertCtrl.species">{{species}}</option>
        </select>
      </label>

      <label class="item item-input item-select"
             data-ng-show="! UpdateAlertCtrl.loaders.breeds && UpdateAlertCtrl.breeds[UpdateAlertCtrl.pet.species]">
        <div class="input-label">Race</div>
        <select data-ng-model="UpdateAlertCtrl.pet.race" data-ng-show="! UpdateAlertCtrl.loaders.species">
          <option data-ng-repeat="breeds in UpdateAlertCtrl.breeds[UpdateAlertCtrl.pet.species]">{{breeds}}</option>
        </select>
      </label>

      <label class="item item-input">
        <div class="input-label">Couleur</div>
        <input type="text" placeholder="Noir" data-ng-model="UpdateAlertCtrl.pet.color">
      </label>
      <label class="item item-input">
        <div class="input-label">Signes distinctifs</div>
        <input type="text" placeholder="Collier bleu" data-ng-model="UpdateAlertCtrl.pet.particularity">
      </label>
      <label class="item item-input">
        <div class="input-label">Commentaire</div>
        <input type="text" placeholder="A l'air très apeuré" data-ng-model="UpdateAlertCtrl.pet.comment">
      </label>
      <button class="button button-balanced button-block"><i class="ion-plus"></i> Ajouter</button>
    </form>
  </ion-content>
</ion-view>
