<ion-view title="Mise à jour d'un animal" id="nav-update-pet">
  <ion-content padding="true" class="has-header">

    <form id="UpdatePetCtrl.updateForm" class="list">
      <button data-ng-if="! UpdatePetCtrl.pet.photo" class="button button-block button-royal"
              data-ng-click="UpdatePetCtrl.takePhoto()">
        <i class="ion-ios-camera"></i> Ajouter une photo
      </button>
      <label class="item item-input" data-ng-if="UpdatePetCtrl.pet.photo"
             data-ng-click="UpdatePetCtrl.takePhoto();">
        <img data-ng-src="{{UpdatePetCtrl.pet.photo}}" width="50%" height="auto"
             style="display: block; margin-left: auto; margin-right: auto;" data-ng-click="UpdatePetCtrl.takePhoto();">
      </label>
      <label class="item item-input">
        <span class="input-label">Nom</span>
        <input required type="text" placeholder="Ouaf" data-ng-model="UpdatePetCtrl.pet.name">
      </label>
      <ion-spinner data-ng-if="UpdatePetCtrl.loaders.species || UpdatePetCtrl.loaders.breeds"></ion-spinner>
      <label class="item item-input item-select" data-ng-show="! UpdatePetCtrl.loaders.species">
        <span class="input-label">Espèce</span>
        <img data-ng-if="UpdatePetCtrl.pet.species.image"
             ng-src="{{UpdatePetCtrl.pet.species.image}}" width="30" height="30"/>
        <select required data-ng-model="UpdatePetCtrl.pet.species" data-ng-change="UpdatePetCtrl.getBreeds()"
                data-ng-options="species.name for species in UpdatePetCtrl.species">
        </select>
      </label>

      <label class="item item-input item-select"
             data-ng-show="!UpdatePetCtrl.loaders.breeds && UpdatePetCtrl.breeds[UpdatePetCtrl.pet.species._id]">
        <span class="input-label">Race</span>
        <select required data-ng-model="UpdatePetCtrl.pet.breed"
                data-ng-options="breeds.name for breeds in UpdatePetCtrl.breeds[UpdatePetCtrl.pet.species._id]">
        </select>
      </label>

      <label class="item item-input">
        <span class="input-label">Couleur</span>
        <input required type="text" placeholder="Noir" data-ng-model="UpdatePetCtrl.pet.color">
      </label>
      <label class="item item-input">
        <span class="input-label">Signes distinctifs</span>
        <input type="text" placeholder="Collier bleu" data-ng-model="UpdatePetCtrl.pet.particularity">
      </label>

      <button class="button button-balanced button-block"
              data-ng-disabled="UpdatePetCtrl.updateForm.$invalid || UpdatePetCtrl.loaders.breeds || UpdatePetCtrl.loaders.species"
              data-ng-click="UpdatePetCtrl.updatePet()">
        <i class="ion-edit"></i>&nbsp;
        Mettre à jour
      </button>
    </form>
  </ion-content>
</ion-view>
