
<ion-view title="Créer une alerte" id="tab-add-alert">
  <ion-content padding="true" class="has-header">
    <div>
      <img data-ng-src="{{AddAlertCtrl.pet.photo}}" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
    </div>
    <form id="ajouter-form1" class="list">

      <label class="item item-input">
        <span class="input-label">Photo</span>
        <button class="button button-calm" data-ng-click="AddAlertCtrl.addImage()">
          <i class="ion-ios7-camera"></i> Add image
        </button>
      </label>

      <ion-spinner data-ng-if="AddAlertCtrl.loaders.species || AddAlertCtrl.loaders.breeds"></ion-spinner>

      <label class="item item-input item-select" data-ng-show="! AddAlertCtrl.loaders.species">
        <span class="input-label">Espèce</span>
        <select data-ng-model="AddAlertCtrl.pet.species" data-ng-change="AddAlertCtrl.getBreeds()">
          <option data-ng-repeat="species in AddAlertCtrl.species">{{species}}</option>
        </select>
      </label>

      <label class="item item-input item-select"
             data-ng-show="! AddAlertCtrl.loaders.breeds && AddAlertCtrl.breeds[AddAlertCtrl.pet.species]">
        <span class="input-label">Race</span>
        <select data-ng-model="AddAlertCtrl.pet.race" data-ng-show="! AddAlertCtrl.loaders.species">
          <option data-ng-repeat="breeds in AddAlertCtrl.breeds[AddAlertCtrl.pet.species]">{{breeds}}</option>
        </select>
      </label>

      <label class="item item-input">
        <span class="input-label">Couleur</span>
        <input type="text" placeholder="Noir" data-ng-model="AddAlertCtrl.pet.color">
      </label>
      <label class="item item-input">
        <span class="input-label">Signes distinctifs</span>
        <input type="text" placeholder="Collier bleu" data-ng-model="AddAlertCtrl.pet.particularity">
      </label>
      <label class="item item-input">
        <span class="input-label">Commentaire</span>
        <input type="text" placeholder="Entrez un commentaire"  data-ng-model="AddAlertCtrl.pet.comment">
      </label>
      <button class="button button-balanced button-block" ng-click="showToast('test', 'long', 'bottom')" >Ajouter</button>
    </form>
  </ion-content>
</ion-view>
