<ion-view title="Mes animaux" id="tab-list-pet">
  <ion-content padding="true" class="has-header">
    <ion-list id="listPet" can-swipe="true">
      <ion-item ui-sref="nav.pet({petId: pet.id})" show-delete="true"
                ng-repeat="pet in ListPetCtrl.listPet track by $index" class="item-thumbnail-left positive">
        <img ng-if="pet.photo" data-ng-src="{{pet.photo}}"/>
        <h2positive>
            <p>Nom : {{pet.name}}</p>
            <p>Couleur : {{pet.color}}</p>
        </h2positive>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
