<ion-view title="Mes animaux" id="tab-list-pet">
  <ion-nav-buttons side="right">
    <button class="button" ui-sref="nav.addPet">
      <i class="ion-plus-circled"></i>
    </button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <ion-list can-swipe="true" id="listPet" can-swipe="true">
      <ion-item ui-sref="nav.pet({petId: pet._id})" show-delete="true"
                ng-repeat="pet in ListPetCtrl.listPet track by $index" class="item-thumbnail-left positive">
        <img ng-if="pet.photo" data-ng-src="{{pet.photo}}"/>
        <h2positive>
            <p>Nom : {{pet.name}}</p>
            <p>Couleur : {{pet.color}}</p>
        </h2positive>
        <ion-option-button data-ng-if="alert.isMyAlert" class="button-assertive"
                           ng-click="ListPetCtrl.delete(alert)">
          Sup
        </ion-option-button>
        <ion-option-button data-ng-if="alert.isMyAlert" class="button-positive"
                           ui-sref="nav.updatePet{alert.pet._id}">
          Màj
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
