<ion-view title="Liste alerte" id="tab-list-alert">
  <ion-content padding="true" class="has-header">
    <ion-spinner data-ng-if="ListAlertCtrl.loaders.getList"></ion-spinner>
    <ion-list can-swipe="true" id="listAlertPet-lost" data-ng-if="!ListAlertCtrl.loaders.getList">
      <ion-item ui-sref="nav.alert({alertId: alert._id})" ng-repeat="alert in ListAlertCtrl.listAlert track by $index"
                class="item-thumbnail-left positive">
        <img ng-if="alert.photo" ng-src="{{alert.photo}}"/>
        <h2positive>
          <p color="primary" data-ng-bind="alert.state" ng-class="alert.class"></p>
          <p>
            <span data-ng-bind="alert.pet.species.name"></span>
            <span data-ng-bind="alert.pet.breed.name"></span>
          </p>
          <p data-ng-bind="alert.date | date"></p>
        </h2positive>
        <ion-option-button data-ng-if="alert.isMyAlert" class="button-assertive"
                           ng-click="ListAlertCtrl.delete(alert)">
          <i class="ion-minus-circled"></i> Sup
        </ion-option-button>
        <ion-option-button data-ng-if="alert.isMyAlert" class="button-positive"
                           ng-click="ListAlertCtrl.update(alert)">
          <i class="ion-edit"></i> Màj
        </ion-option-button>

      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
