<ion-view title="Liste alerte" id="tab-list-alert">
  <ion-nav-buttons side="right">
    <button class="button" ui-sref="nav.addAlert">
      <i class="ion-plus-circled"></i>
    </button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <ion-spinner data-ng-if="ListAlertCtrl.loaders.getList">Chargement ...</ion-spinner>
    <ion-list data-ng-if="(!ListAlertCtrl.loaders.getList) && (!ListAlertCtrl.listAlert.length)">
      <ion-item class="primary">
        Pas d'alerte
      </ion-item>
    </ion-list>
    <ion-list can-swipe="true" id="listAlertPet-lost">
      <ion-item ui-sref="nav.alert({alertId: alert._id})" ng-repeat="alert in ListAlertCtrl.listAlert track by $index"
                class="item-thumbnail-left">
        <img ng-if="alert.photo" ng-src="{{alert.photo}}"/>
        <h2positive>

          <h2 ng-class="alert.class" data-ng-bind="alert.state"></h2>

          <p>
            <span data-ng-bind="alert.pet.species.name"></span>
            <span data-ng-bind="alert.pet.breed.name"></span>
          </p>
          <p data-ng-bind="alert.date | date"></p>
        </h2positive>
        <ion-option-button data-ng-if="alert.isMyAlert" class="button-assertive"
                           ng-click="ListAlertCtrl.delete(alert)">
          <i class="ion-minus-circled"></i>&nbsp; Sup
        </ion-option-button>
        <ion-option-button data-ng-if="alert.isMyAlert" class="button-positive"
                           ui-sref="nav.updateAlert({alertId : alert._id})">
          <i class="ion-edit"></i>&nbsp; Màj
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
